# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor

# colleagues
pip install git+https://github.com/vld-s/vld_project
pip install git+https://github.com/cobergmann/project_x
pip install git+https://github.com/fernandonjardim/fernandonspackage
pip install git+https://github.com/ManonLaffly/second_project
pip install git+https://github.com/Marchigginsberlin/marcspackage